body {
  font-family: Montserrat;
  margin: 1rem 0 0 0;
  background-color: white;
  /* #ff9442 */
}

.navigation {
  padding-left: 10rem;
  padding-top: 1rem;
}

.togico {
  margin-left: 6rem;
  position: relative;
  top: 2rem;
  font-size: 1.5rem;
}

/* First Page */
.pagefirst {
  padding-left: 10rem;
  padding-top: 1rem;
  padding-right: 30%;
  height: 44rem;
}

/* Navigation Bar */
.navbar {
  margin-left: 0;
  padding-left: 0;
}

.nav-button {
  background-color: #ff9442;
  border: none;
  border-radius: 1.2rem;
  color: white;
  padding: 0.3rem 1rem;
}

.nav-button:hover {
  background-color: #eb7f2d;
}

.about {
  color: #ff9442;
  font-weight: 500;
}

.about:hover {
  color: black;
}

.navigation {
  font-size: 1.3rem;
}

.navi-item:hover {
  color: #ff9442;
}

.nav-item {
  margin: 0 2rem 0 0;
}

/* Photo */
.myphoto {
  width: 23rem;
  height: 40rem;
  position: absolute;
  right: 10.5%;
  top: 5rem;
  margin-right: 0;
}

.bordertophoto {
  position: absolute;
  right: 14%;
  top: 6rem;
  height: 40rem;
  width: 22rem;
  border-style: solid;
  border-width: 1rem;
  border-color: #ff9442;
}

/* My Introduction */
.introduction {
  margin-top: 5rem;
  padding-left: 0.5rem;
}

.iam {
  color: #ff9442;
  font-weight: 500;
  font-size: 1.3rem;
  margin-bottom: 0.4rem;
}

.name {
  font-weight: 800;
  font-size: 4rem;
  margin-bottom: 0.5rem;
}

.skill {
  font-weight: 700;
  font-size: 1.4rem;
  margin-top: 0.5rem;
}

.introtext {
  margin-top: 2rem;
  line-height: 1.7rem;
  padding-right: 10rem;
}

.downloadcv {
  border: none;
  border-radius: 1.2rem;
  background-color: #ff9442;
  color: white;
  padding: 0.6rem 1.5rem;
  font-weight: 600;
  margin: 2.5rem 2rem 0 0;
}

.contactme {
  border-style: solid;
  border-radius: 1.2rem;
  border-color: #ff9442;
  text-decoration: none;
  color: #ff9442;
  padding: 0.6rem 1.5rem;
  font-weight: 600;
  margin: 2.5rem 2rem 0 0;
}

.contactme:hover {
  background-color: #ff9442;
  color: white;
}

/* First page horizontal row */
.firstpageend {
  width: 5rem;
  border: 0.7rem dotted;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-color: #ff9442;
  color: white;
  margin: 0;
}

/*Second page*/
.secondpage {
  height: 41rem;
  padding: 8rem 7rem 0 7rem;
}

.myintro {
  color: #ff9442;
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 0.2rem;
  margin-top: 1rem;
}

.aboutme {
  font-weight: 700;
  font-size: 3.7rem;
  margin-bottom: 2rem;
}

.abouttext {
  padding: 0 16rem;
}

.interests {
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 2.5rem;
}

.interesticon {
  margin-top: 2rem;
}

.bticons {
  margin: 0 2rem;
}

.ico {
  color: #ff9442;
  margin: 0 0.5rem;
  font-size: 1.4rem;
}

.upperbox {
  position: absolute;
  border: 1rem solid;
  border-color: #ff9442;
  width: 25rem;
  height: 20rem;
  border-bottom: none;
  border-right: none;
  left: 10rem;
  top: 57rem;
}

.lowerbox {
  position: absolute;
  border: 1rem solid;
  border-color: #ff9442;
  width: 62rem;
  height: 15rem;
  border-top: none;
  border-left: none;
  right: 10rem;
  top: 77rem;
}

.padit {
  margin-top: 0.8rem;
}

/*Third Page*/
.thirdpage {
  padding: 5rem 20rem;
}

.choosing {
  font-size: 1.3rem;
  font-weight: 600;
  color: #ff9442;
}

.skillele {
  font-size: 1.2rem;
}

.outer {
  position: relative;
  width: 45rem;
  height: 0.8rem;
  background-color: #d2d2d4;
  border-radius: 2rem;
  margin-right: 3rem;
  margin-left: 3rem;
}

.inner {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  background-color: #ff9442;
  height: 0.8rem;
  border-radius: 2rem;
  transition: 3s;
  transform-origin: left;
  /*-webkit-animation-duration : 3s;
  animation-name : animationProgress;*/
  transform: scaleX(0);
}

.inner[data-scroll="in"] {
  transform: scaleX(1);
}

.skilltable {
  margin: 3.3rem 3rem 3rem;
  position: relative;
  right: 9rem;
  padding: 0 1rem;
}

.skillele {
  padding: 0 0 1.6rem;
}

.skills {
  width: 5rem;
}

/* Fourth Page */
.myportfolio {
  font-size: 1.3rem;
  font-weight: 600;
  color: #ff9442;
}

.cards {
  width: 95%;
  height: 85%;
  border-radius: 1rem;
  margin: 1.5rem auto;
  text-align: center;
}

.portfolio {
  margin: 2rem 14rem 0;
}

.recentw {
  margin-bottom: 0.5rem;
}

/*
.topcards{
  margin-bottom: 5rem;
}
*/
.portfoliobtn {
  border-radius: 1.5rem;
  color: white;
  background-color: #ff9442;
  border: none;
  margin: 3rem 0;
  padding: 0.6rem 3rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.portfoliobtn:hover {
  background-color: #e87b27;
}

.upperrow {
  position: absolute;
  color: white;
  border: 0.2rem solid;
  left: 14rem;
  top: 152.5rem;
  height: 15rem;
  border-color: #ff9442;
  width: 10rem;
  border-right: none;
  border-bottom: none;
}

.lowerrow {
  position: absolute;
  color: white;
  border: 0.2rem solid;
  right: 14rem;
  top: 175.5rem;
  height: 15rem;
  border-color: #ff9442;
  width: 10rem;
  border-top: none;
  border-left: none;
}

/* Fifth Page */
/* First Section */
.contribute {
  background-color: #ff9442;
  color: white;
  margin: 3rem 0;
  padding: 5rem 20rem 1.5rem 10rem;
}

.wantto {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.contritext {
  line-height: 2rem;
}

.contribtn {
  border-radius: 1.5rem;
  color: #ff9442;
  background-color: white;
  border: none;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 0.4rem 2rem;
  margin: 2rem 0;
}

/* Second Section */
.testi {
  font-size: 1.3rem;
  font-weight: 600;
  color: #ff9442;
  margin-bottom: 0.7rem;
  margin-top: 1rem;
}

.secondsection {
  padding: 2rem 13rem 2rem;
  margin-bottom: 2rem;
}

.custom {
  color: #ff9442;
  text-align: right;
}

.names {
  font-weight: 600;
  margin-right: 2rem;
}

.testitext {
  line-height: 2rem;
}

.testicard {
  width: 45%;
  text-align: left;
  padding: 2rem 3rem;
  border: 0.1rem solid;
  border-color: #ff9442;
  margin: auto;
  margin-top: 2rem;
}

/* Sixth Page - Footer */
.sixthpage {
  background-color: #071e48;
  color: white;
  padding: 4rem 6rem 0.3rem 0;
  margin-top: 2rem;
}

.contactme2 {
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  padding-left: 10rem;
}

.contacttext {
  line-height: 2rem;
  padding: 0 11rem 0 10rem;
}

.texti {
  color: #ff9442;
  padding-left: 10rem;
}

.link {
  color: white;
  text-decoration: none;
}

.emailandloc {
  margin-top: 2rem;
  margin-bottom: 0.3rem;
}

.contacticons {
  color: #ff9442;
  margin: 3rem 2rem 3rem 0;
  font-size: 2rem;
}

.groupoficons {
  padding-left: 10rem;
}

.endthisall {
  font-size: 0.8rem;
  padding-left: 10rem;
}

.email:hover {
  color: #56a8f0;
}

/* Viewall.html */
.viewallsoon {
  font-size: 500%;
  font-weight: 800;
}

.divee1 {
  margin: 10rem;
}

/* Resume page */
.resumesoon {
  font-size: 400%;
  font-weight: 800;
  line-height: 6rem;
}

/* Media Queries */
@media (max-width : 1300px) {
  .myphoto {
    right: 6rem;
    top: 10rem;
    height: 30rem;
    width: auto;
  }

  .bordertophoto {
    right: 7rem;
    height: 35rem;
    width: 20rem;
  }

  .lowerbox {
    width: 40rem;
  }

  .secondpage {
    padding: 4rem 0;
  }

  .myskills {
    font-size: 5rem;
  }

  .skilltable {
    right: 15rem;
  }

  .outer {
    width: 30rem;
  }

  .upperrow {
    visibility: hidden;
  }

  .lowerrow {
    visibility: hidden;
  }

  .testicard {
    padding: 2rem 1rem;
  }

  .secondsection {
    padding: 2rem 7rem;
  }

  .contacttext {
    padding: 0 10rem;
  }
}

@media (max-width:1100px) {
  .myphoto {
    position: absolute;
    right: -8rem;
    top: 10rem;
    height: 30rem;
    width: auto;
  }

  .bordertophoto {
    right: -6rem;
    height: 35rem;
    width: 20rem;
  }

  .secondpage {
    height: 33rem;
  }

  .myintro {
    text-align: left;
    padding-left: 10rem;
  }

  .aboutme {
    text-align: left;
    padding-left: 10rem;
  }

  .myskills {
    padding-left: 0;
    text-align: center;
    font-size: 4rem;
  }

  .abouttext {
    text-align: left;
    padding: 0 0 0 10rem;
  }

  .interests {
    text-align: left;
    padding-left: 10rem;
  }

  .recentw {
    text-align: center;
  }

  .interesticon {
    padding-left: 10rem;
    text-align: left;
  }

  .upperbox {
    visibility: hidden;
  }

  .lowerbox {
    visibility: hidden;
  }

  .portfolio {
    margin: 4rem 5rem 0rem 10rem;
  }

  .contribute {
    padding: 5rem 10rem 1.5rem 10rem;
  }

  .clientsays {
    text-align: center;
    font-size: 4rem;
    padding-left: 0;
  }

  .secondsection {
    padding: 2rem 0rem;
  }

  .testicard {
    padding: 1rem 1rem;
  }

  .contacttext {
    padding: 0 5rem 0 10rem;
  }

  .pagefirst {
    padding-left: 6rem;
    padding-right: 20%;
  }

  .navigation {
    padding-left: 6rem;
  }

  .myintro {
    padding-left: 6rem;
  }

  .aboutme2 {
    padding-left: 6rem;
  }

  .abouttext {
    padding-left: 6rem;
  }

  .interests {
    padding-left: 6rem;
  }

  .interesticon {
    padding-left: 6rem;
  }

  .contribute {
    width: 120%;
    padding-left: 6rem;
  }

  .groupofcard {
    position: relative;
    left: 4rem;
  }

  .sixthpage {
    width: 120%;
  }

  .contactme2 {
    padding-left: 6rem;
  }

  .contacttext {
    padding-left: 6rem;
  }

  .texti {
    padding-left: 6rem;
  }

  .groupoficons {
    padding-left: 6rem;
  }

  .endthisall {
    padding-left: 6rem;
  }
}
